.checkbox-background {
  background-color: rgba(29, 22, 65, 0.355);
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.round-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.round-checkbox:checked {
  border-color: gold; /* Golden border when selected */
  box-shadow:
    0 0 5px gold,
    0 0 10px gold; /* Glowing effect */
}

.round-checkbox:not(:checked):enabled {
  border-color: white; /* White border when enabled */
  box-shadow: 0 0 5px white; /* Glowing effect when enabled */
}

/* Style for disabled checkboxes */
.round-checkbox:disabled {
  border-color: gray; /* Gray border for disabled */
  box-shadow: none; /* No glow for disabled */
  cursor: not-allowed; /* Change cursor for disabled state */
}

.checkbox-contatiner {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-bottom: 25px;
}
